{
    "openapi": "3.0.0",
    "info": {
        "title": "RCI-BACKEND API DOCUMENTATION",
        "description": "API DOCUMENTATION",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://talararci.thonymarckdev.online"
        }
    ],
    "paths": {
        "/api/login": {
            "post": {
                "tags": [
                    "AUTH CONTROLLER"
                ],
                "summary": "Login de usuario",
                "description": "Permite a los usuarios autenticarse en el sistema y obtener un token JWT.",
                "operationId": "login",
                "requestBody": {
                    "description": "Credenciales del usuario",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "correo",
                                    "password"
                                ],
                                "properties": {
                                    "correo": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "usuario@dominio.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "contraseña123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Token generado con éxito",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Datos de entrada inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "El campo correo es requerido."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Credenciales inválidas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Credenciales inválidas"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Usuario inactivo",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Usuario inactivo. Por favor, contacte al administrador."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Usuario no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Usuario no encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error al generar el token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "No se pudo crear el token"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "AUTH CONTROLLER"
                ],
                "summary": "Cerrar sesión del usuario",
                "description": "Este endpoint se utiliza para cerrar sesión de un usuario y revocar su token JWT.",
                "operationId": "logout",
                "requestBody": {
                    "description": "ID del usuario que desea cerrar sesión",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "idUsuario"
                                ],
                                "properties": {
                                    "idUsuario": {
                                        "description": "ID del usuario que desea cerrar sesión.",
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Usuario deslogueado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Usuario deslogueado correctamente."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Datos de entrada inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "El campo idUsuario es requerido."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No autorizado."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Usuario no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No se pudo encontrar el usuario."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error al desloguear al usuario",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No se pudo desloguear al usuario."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/update-activity": {
            "post": {
                "tags": [
                    "AUTH CONTROLLER"
                ],
                "summary": "Actualizar la última actividad del usuario",
                "description": "Este endpoint actualiza la fecha de la última actividad del usuario especificado.",
                "operationId": "updateLastActivity",
                "parameters": [
                    {
                        "name": "idUsuario",
                        "in": "query",
                        "description": "ID del usuario cuya última actividad se actualizará.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Actividad actualizada correctamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Last activity updated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Usuario no encontrado.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Usuario no encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Datos de entrada inválidos.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "ID de usuario requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/check-status": {
            "post": {
                "tags": [
                    "AUTH CONTROLLER"
                ],
                "summary": "Verificar el estado del usuario y la validez del token",
                "description": "Este endpoint verifica el estado del usuario y la validez del token JWT proporcionado. \n     *                  Compara el token JWT del encabezado de autorización con el token almacenado en la base de datos \n     *                  para el usuario especificado. Si el token no coincide o el usuario no tiene un registro de actividad, \n     *                  se devuelve un error.",
                "operationId": "checkStatus",
                "parameters": [
                    {
                        "name": "idUsuario",
                        "in": "query",
                        "description": "ID del usuario cuyo estado se desea verificar.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "El token es válido y coincide con el almacenado en la base de datos.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Solicitud inválida. El ID de usuario no fue proporcionado o no es un entero válido.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "ID de usuario no proporcionado o inválido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "El token proporcionado no coincide con el token almacenado en la base de datos.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "El token no coincide con el almacenado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No se encontró un registro de actividad para el usuario especificado.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Usuario no encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/send-message": {
            "post": {
                "tags": [
                    "AUTH CONTROLLER"
                ],
                "summary": "Enviar mensaje de contacto",
                "description": "Este endpoint permite a los usuarios enviar un mensaje de contacto al administrador.",
                "operationId": "sendContactEmail",
                "requestBody": {
                    "description": "Datos del mensaje de contacto",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "message"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "Nombre del remitente",
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "description": "Correo electrónico del remitente",
                                        "type": "string",
                                        "format": "email",
                                        "example": "johndoe@example.com"
                                    },
                                    "message": {
                                        "description": "Mensaje de contacto",
                                        "type": "string",
                                        "example": "Hola, tengo una consulta sobre los productos."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Mensaje enviado correctamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "string",
                                            "example": "Mensaje enviado correctamente."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en los datos enviados.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "El nombre es requerido."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error al enviar el mensaje.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Error al enviar el mensaje. Inténtalo más tarde."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/obtenerInfoAdmins": {
            "get": {
                "tags": [
                    "DASHBOARD CONTROLLER"
                ],
                "summary": "Obtener estadísticas de usuarios",
                "description": "Permite obtener estadísticas sobre los usuarios, incluyendo el número de usuarios activos, inactivos y el total de usuarios.",
                "operationId": "obtenerInfoAdmins",
                "responses": {
                    "200": {
                        "description": "Estadísticas de usuarios obtenidas exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "stats": {
                                            "properties": {
                                                "active_users": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "inactive_users": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "total_users": {
                                                    "type": "integer",
                                                    "example": 15
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User statistics retrieved successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No autorizado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error interno del servidor"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/logs": {
            "get": {
                "tags": [
                    "DASHBOARD CONTROLLER"
                ],
                "summary": "Obtener registros de logs",
                "description": "Permite obtener los registros de logs filtrados por fecha, usuario, acción y rol. El acceso a los logs está restringido según el rol del usuario autenticado.",
                "operationId": "getLogs",
                "parameters": [
                    {
                        "name": "fecha_desde",
                        "in": "query",
                        "description": "Fecha de inicio para filtrar los logs (formato YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "fecha_hasta",
                        "in": "query",
                        "description": "Fecha de fin para filtrar los logs (formato YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Nombre del usuario para filtrar los logs",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accion",
                        "in": "query",
                        "description": "Acción para filtrar los logs",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rol",
                        "in": "query",
                        "description": "Rol para filtrar los logs",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "admin",
                                "superadmin"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de logs y usuarios filtrados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "logs": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "idUsuario": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "accion": {
                                                        "type": "string",
                                                        "example": "login"
                                                    },
                                                    "fecha": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2023-10-01T12:00:00Z"
                                                    },
                                                    "nombres": {
                                                        "type": "string",
                                                        "example": "Juan Pérez"
                                                    },
                                                    "rol": {
                                                        "type": "string",
                                                        "example": "admin"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "usuarios": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "idUsuario": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "nombres": {
                                                        "type": "string",
                                                        "example": "Juan Pérez"
                                                    },
                                                    "rol": {
                                                        "type": "string",
                                                        "example": "admin"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No autorizado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error interno del servidor"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/adminAgregar": {
            "post": {
                "tags": [
                    "SUPERADMIN CONTROLLER"
                ],
                "summary": "Agregar un nuevo usuario administrador",
                "description": "Permite a un superadministrador agregar un nuevo usuario con rol de administrador.",
                "operationId": "agregarUsuario",
                "requestBody": {
                    "description": "Datos del nuevo usuario administrador",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nombres",
                                    "apellidos",
                                    "correo",
                                    "password"
                                ],
                                "properties": {
                                    "nombres": {
                                        "type": "string",
                                        "example": "Juan"
                                    },
                                    "apellidos": {
                                        "type": "string",
                                        "example": "Pérez"
                                    },
                                    "correo": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "juan.perez@dominio.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "contraseña123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Usuario agregado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Usuario agregado exitosamente"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "rol": {
                                                    "type": "string",
                                                    "example": "admin"
                                                },
                                                "nombres": {
                                                    "type": "string",
                                                    "example": "Juan"
                                                },
                                                "apellidos": {
                                                    "type": "string",
                                                    "example": "Pérez"
                                                },
                                                "correo": {
                                                    "type": "string",
                                                    "format": "email",
                                                    "example": "juan.perez@dominio.com"
                                                },
                                                "fecha_creado": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-10-01T12:00:00Z"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "loggedOff"
                                                },
                                                "estado": {
                                                    "type": "string",
                                                    "example": "activo"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error de validación"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "correo": [
                                                    "El campo correo es requerido."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/listarUsuariosAdmin/{id}": {
            "put": {
                "tags": [
                    "SUPERADMIN CONTROLLER"
                ],
                "summary": "Editar un usuario existente",
                "description": "Permite a un usuario autorizado editar la información de un usuario existente, incluyendo nombres, apellidos, correo, contraseña y rol.",
                "operationId": "editarUsuario",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del usuario que se desea editar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Datos del usuario que se desean actualizar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nombres": {
                                        "type": "string",
                                        "example": "Juan"
                                    },
                                    "apellidos": {
                                        "type": "string",
                                        "example": "Pérez"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "juan.perez@dominio.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "nuevaContraseña123"
                                    },
                                    "role": {
                                        "type": "string",
                                        "example": "admin"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Usuario actualizado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Usuario actualizado exitosamente"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nombres": {
                                                    "type": "string",
                                                    "example": "Juan"
                                                },
                                                "apellidos": {
                                                    "type": "string",
                                                    "example": "Pérez"
                                                },
                                                "correo": {
                                                    "type": "string",
                                                    "format": "email",
                                                    "example": "juan.perez@dominio.com"
                                                },
                                                "rol": {
                                                    "type": "string",
                                                    "example": "admin"
                                                },
                                                "fecha_creado": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-10-01T12:00:00Z"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "loggedOff"
                                                },
                                                "estado": {
                                                    "type": "string",
                                                    "example": "activo"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Usuario no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Usuario no encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error de validación"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "correo": [
                                                    "El campo correo es requerido."
                                                ],
                                                "password": [
                                                    "El campo password debe tener al menos 6 caracteres."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "No autorizado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Error interno del servidor"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/listarUsuarios": {
            "get": {
                "tags": [
                    "SUPERADMIN CONTROLLER"
                ],
                "summary": "Listar usuarios administradores",
                "description": "Permite a un superadministrador listar todos los usuarios con rol de administrador, con opciones de paginación, búsqueda y filtrado.",
                "operationId": "listarUsuarios",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Número de elementos por página (por defecto 10)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número de página (por defecto 1)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Término de búsqueda general (busca en nombres, apellidos, correo, rol y estado)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Juan"
                        }
                    },
                    {
                        "name": "nombres",
                        "in": "query",
                        "description": "Filtrar por nombres",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Juan"
                        }
                    },
                    {
                        "name": "apellidos",
                        "in": "query",
                        "description": "Filtrar por apellidos",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Pérez"
                        }
                    },
                    {
                        "name": "correo",
                        "in": "query",
                        "description": "Filtrar por correo electrónico",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "email",
                            "example": "juan.perez@dominio.com"
                        }
                    },
                    {
                        "name": "rol",
                        "in": "query",
                        "description": "Filtrar por rol",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "admin"
                        }
                    },
                    {
                        "name": "estado",
                        "in": "query",
                        "description": "Filtrar por estado",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "activo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de usuarios obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "usuarios": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "idUsuario": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "nombres": {
                                                        "type": "string",
                                                        "example": "Juan"
                                                    },
                                                    "apellidos": {
                                                        "type": "string",
                                                        "example": "Pérez"
                                                    },
                                                    "correo": {
                                                        "type": "string",
                                                        "format": "email",
                                                        "example": "juan.perez@dominio.com"
                                                    },
                                                    "rol": {
                                                        "type": "string",
                                                        "example": "admin"
                                                    },
                                                    "estado": {
                                                        "type": "string",
                                                        "example": "activo"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "pagination": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer",
                                                    "example": 100
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "from": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "to": {
                                                    "type": "integer",
                                                    "example": 10
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error al obtener los usuarios"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Mensaje de error detallado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/listarUsuariosAdmin/{id}/cambiar-estado": {
            "put": {
                "tags": [
                    "SUPERADMIN CONTROLLER"
                ],
                "summary": "Cambiar el estado de un usuario",
                "description": "Permite a un superadministrador cambiar el estado de un usuario entre 'activo' e 'inactivo'. Además, registra la acción en el log del sistema.",
                "operationId": "cambiarEstado",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del usuario cuyo estado se desea cambiar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Estado actualizado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Estado actualizado exitosamente"
                                        },
                                        "user": {
                                            "properties": {
                                                "idUsuario": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nombres": {
                                                    "type": "string",
                                                    "example": "Juan"
                                                },
                                                "apellidos": {
                                                    "type": "string",
                                                    "example": "Pérez"
                                                },
                                                "correo": {
                                                    "type": "string",
                                                    "format": "email",
                                                    "example": "juan.perez@dominio.com"
                                                },
                                                "rol": {
                                                    "type": "string",
                                                    "example": "admin"
                                                },
                                                "estado": {
                                                    "type": "string",
                                                    "example": "inactivo"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Usuario no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Usuario no encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "No autorizado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Error interno del servidor"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/categoriasproductos": {
            "get": {
                "tags": [
                    "SUPERADMIN CONTROLLER"
                ],
                "summary": "Listar categorías de productos activas",
                "description": "Permite a un superadministrador obtener una lista de todas las categorías de productos con estado 'activo'.",
                "operationId": "listarCategoriasProductos",
                "responses": {
                    "200": {
                        "description": "Lista de categorías obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "idCategoria": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "nombreCategoria": {
                                                "type": "string",
                                                "example": "Electrónica"
                                            },
                                            "estado": {
                                                "type": "string",
                                                "example": "activo"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "No autorizado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Error interno del servidor"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/agregarProducto": {
            "post": {
                "tags": [
                    "SUPERADMIN CONTROLLER"
                ],
                "summary": "Agregar un nuevo producto con modelos e imágenes",
                "description": "Permite a un superadministrador agregar un nuevo producto, incluyendo sus modelos e imágenes asociadas. Se validan los datos de entrada y se registra la acción en el log del sistema.",
                "operationId": "agregarProducto",
                "requestBody": {
                    "description": "Datos del producto y sus modelos",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "nombreProducto",
                                    "estado",
                                    "idCategoria",
                                    "modelos"
                                ],
                                "properties": {
                                    "nombreProducto": {
                                        "type": "string",
                                        "example": "Producto Ejemplo"
                                    },
                                    "descripcion": {
                                        "type": "string",
                                        "example": "Descripción del producto",
                                        "nullable": true
                                    },
                                    "estado": {
                                        "type": "string",
                                        "example": "activo"
                                    },
                                    "idCategoria": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "modelos": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "nombreModelo",
                                                "imagen"
                                            ],
                                            "properties": {
                                                "nombreModelo": {
                                                    "type": "string",
                                                    "example": "Modelo Ejemplo"
                                                },
                                                "imagen": {
                                                    "description": "Imagen del modelo (formato: jpg, png, etc.)",
                                                    "type": "string",
                                                    "format": "binary"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Producto agregado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Producto agregado correctamente"
                                        },
                                        "producto": {
                                            "properties": {
                                                "idProducto": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nombreProducto": {
                                                    "type": "string",
                                                    "example": "Producto Ejemplo"
                                                },
                                                "descripcion": {
                                                    "type": "string",
                                                    "example": "Descripción del producto"
                                                },
                                                "estado": {
                                                    "type": "string",
                                                    "example": "activo"
                                                },
                                                "idCategoria": {
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error de validación"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "nombreProducto": [
                                                    "El campo nombreProducto es obligatorio."
                                                ],
                                                "modelos.0.nombreModelo": [
                                                    "El campo nombreModelo es obligatorio."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "No autorizado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error al agregar el producto"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Mensaje de error detallado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/listarProductosCatalogo": {
            "get": {
                "tags": [
                    "SUPERADMIN CONTROLLER"
                ],
                "summary": "Listar productos del catálogo con filtros y paginación",
                "description": "Permite a un superadministrador listar productos del catálogo con opciones de filtrado por nombre, categoría y paginación. Solo se incluyen productos y categorías con estado 'activo'.",
                "operationId": "listarProductosCatalogo",
                "parameters": [
                    {
                        "name": "nombre",
                        "in": "query",
                        "description": "Filtrar productos por nombre (búsqueda parcial)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Producto Ejemplo"
                        }
                    },
                    {
                        "name": "categoria",
                        "in": "query",
                        "description": "Filtrar productos por nombre de categoría (coincidencia exacta)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Electrónica"
                        }
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "Número de productos por página (por defecto 6, máximo 100)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 6
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de productos obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "idProducto": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "nombreProducto": {
                                                        "type": "string",
                                                        "example": "Producto Ejemplo"
                                                    },
                                                    "descripcion": {
                                                        "type": "string",
                                                        "example": "Descripción del producto"
                                                    },
                                                    "nombreCategoria": {
                                                        "type": "string",
                                                        "example": "Electrónica"
                                                    },
                                                    "modelos": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "idModelo": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "nombreModelo": {
                                                                    "type": "string",
                                                                    "example": "Modelo Ejemplo"
                                                                },
                                                                "imagenes": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "properties": {
                                                                            "idImagen": {
                                                                                "type": "integer",
                                                                                "example": 1
                                                                            },
                                                                            "urlImagen": {
                                                                                "type": "string",
                                                                                "example": "http://example.com/imagen.jpg"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "last_page": {
                                            "type": "integer",
                                            "example": 5
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 6
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 30
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "No autorizado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error de validación"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "nombre": [
                                                    "El campo nombre debe ser una cadena de texto."
                                                ],
                                                "perPage": [
                                                    "El campo perPage debe ser un número entero."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Error interno del servidor"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/editarModeloyImagen/{idModelo}": {
            "post": {
                "tags": [
                    "SUPERADMIN CONTROLLER"
                ],
                "summary": "Editar un modelo y sus imágenes",
                "description": "Permite a un superadministrador editar un modelo existente, incluyendo su nombre, descripción y la gestión de imágenes (añadir nuevas o reemplazar existentes).",
                "operationId": "editarModeloYImagen",
                "parameters": [
                    {
                        "name": "idModelo",
                        "in": "path",
                        "description": "ID del modelo que se desea editar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Datos del modelo y sus imágenes",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "nombreModelo"
                                ],
                                "properties": {
                                    "nombreModelo": {
                                        "type": "string",
                                        "example": "Modelo Actualizado"
                                    },
                                    "descripcion": {
                                        "type": "string",
                                        "example": "Descripción actualizada",
                                        "nullable": true
                                    },
                                    "nuevasImagenes": {
                                        "type": "array",
                                        "items": {
                                            "description": "Nuevas imágenes para el modelo",
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "idImagenesReemplazadas": {
                                        "description": "IDs de las imágenes existentes que se desean reemplazar",
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "example": 1
                                        }
                                    },
                                    "imagenesReemplazadas": {
                                        "type": "array",
                                        "items": {
                                            "description": "Nuevas imágenes para reemplazar las existentes",
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Modelo e imágenes actualizados correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Modelo e imágenes actualizados correctamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Modelo no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Modelo no encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error de validación"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "nombreModelo": [
[...]
